@model ExampleModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        <p>@Model.Description</p>

        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
            <li class="active"><a href="#tab-display" data-toggle="tab">Live</a></li>
            <li><a href="#tab-view" data-toggle="tab">Views</a></li>
            <li><a href="#tab-action" data-toggle="tab">Controller Action</a></li>
        </ul>

        <div class="tab-content">
            
            <div id="tab-display" class="tab-pane active" role="tabpanel">
                @Html.Partial($"~/Views/Example/{Model.ParentView}")
            </div>

            <div id="tab-view" class="tab-pane" role="tabpanel">
                <h3>Parent View (@Model.ParentView.ToLower())</h3>
                <pre class="brush: razor">@System.IO.File.ReadAllText(Context.Server.MapPath("~/Views/Example/" + Model.ParentView))</pre>

                <h3>Child View (@Model.GridView.ToLower())</h3>
                <pre class="brush: razor">@System.IO.File.ReadAllText(Context.Server.MapPath("~/Views/Example/" + Model.GridView))</pre>
            </div>

            <div id="tab-action" class="tab-pane" role="tabpanel">
                <pre class="brush: csharp">@System.IO.File.ReadAllText(Context.Server.MapPath("~/Controllers/Examples/" + Model.GridAction + ".cs"))</pre>
            </div>

        </div>
    </div>
</div>