@*
    * GriddlyFilters section renderer using Bootstrap html and styles
    * http://griddly.com
    * Copyright 2013-2025 Chris Hynes and Data Research Group, Inc.
    * Licensed under MIT (https://github.com/programcsharp/griddly/blob/master/LICENSE)
    *
    * WARNING: Don't edit this file -- it'll be overwitten when you upgrade.
    *          Use the static properties on GriddlySettings to make config changes.
    *
*@

@model IGriddlyFilterSettings

@{ 
    var css = ViewBag.GriddlyCss = (GriddlyCss?)ViewBag.GriddlyCss ?? GriddlySettings.DefaultCss;
}

@if (Model.FilterButtonTemplate != null)
{
    @Model.FilterButtonTemplate(null)
}
else
{
    <a class="@css.ButtonDefault griddly-filter-invoke" href="javascript:;"><i class="@(css.Icons.Filter)"></i><span class="@(css.Is(CssFramework.Bootstrap3) ? "hidden-xs hidden-sm" : "d-none d-md-inline")"> Filter</span></a>
}
@Html.Partial("Griddly/GriddlyFilterValues", Model.Filters)
<span class="griddly-filter-statusall-show">Showing all</span>
<a class="griddly-search-clear griddly-filter-statusfiltered-show" href="javascript:;">Show All</a>
<span class="griddly-filter-statusfiltered-show griddly-filter-statuscandefault-show">|</span>
<a class="griddly-search-reset griddly-filter-statuscandefault-show" href="javascript:;">Show Default</a>

<div class="modal griddly-filter-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.FilterModalHeaderTemplate != null)
                {
                    @Model.FilterModalHeaderTemplate(Model)
                }
                else
                {
                    if (!css.Is(CssFramework.Bootstrap3)) { <h4 class="modal-title">Filter</h4> }

                    if (css.Is(CssFramework.Bootstrap5))
                    {
                        <button type="button" class="griddly-modal-close close btn-close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    }
                    else
                    {
                        <button type="button" class="griddly-modal-close close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    }
                    
                    if (css.Is(CssFramework.Bootstrap3)) { <h4 class="modal-title">Filter</h4> }
                }
            </div>
            <form class="@(css.Is(CssFramework.Bootstrap3) ? "form-horizontal" : "")">
                <div class="modal-body">
                    @Html.Partial("Griddly/GriddlyFilterForm", Model.Filters)
                </div>
                <div class="modal-footer" style="@(css.Is(CssFramework.Bootstrap4, CssFramework.Bootstrap5) ? "justify-content:flex-start" : null@*fix for IE flex bug*@)">
                    @if (Model.FilterModalFooterTemplate != null)
                    {
                        @Model.FilterModalFooterTemplate(Model)
                    }
                    else
                    {
                        <div class="griddly-reset-btn btn-group @(css.Is(CssFramework.Bootstrap5) ? "me-auto" : css.Is(CssFramework.Bootstrap4) ? "mr-auto" : "pull-left")">
                            <button type="button" class="@css.ButtonDefault dropdown-toggle" data-toggle="@(css.Is(CssFramework.Bootstrap3, CssFramework.Bootstrap4) ? "dropdown" : null)" data-bs-toggle="@(css.Is(CssFramework.Bootstrap5) ? "dropdown" : null)" aria-haspopup="true" aria-expanded="false">
                                Reset @if (css.Is(CssFramework.Bootstrap3)) {<span class="@css.Icons.CaretDown"></span>}
                            </button>
                            @if (css.Is(CssFramework.Bootstrap4, CssFramework.Bootstrap5))
                            {
                                <div class="dropdown-menu">
                                    <a class="griddly-search-reset dropdown-item" href="javascript:;">System Default</a>
                                    <a class="griddly-search-clear dropdown-item" href="javascript:;">Clear (Show All)</a>
                                </div>
                            }
                            else
                            {
                                <ul class="dropdown-menu">
                                    <li><a class="griddly-search-reset" href="javascript:;">System Default</a></li>
                                    <li><a class="griddly-search-clear" href="javascript:;">Clear (Show All)</a></li>
                                </ul>
                            }
                        </div>

                        <button type="button" class="@(css.Is(CssFramework.Bootstrap4, CssFramework.Bootstrap5) ? "btn btn-link" : css.ButtonDefault) griddly-filter-cancel" data-dismiss="modal" bs-data-dismiss="modal">Cancel</button>

                        <button type="submit" class="@css.ButtonDefault">Search</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>