@*
    * GriddlyFilters section renderer using Bootstrap html and styles
    * http://griddly.com
    * Copyright 2013-2022 Chris Hynes and Data Research Group, Inc.
    * Licensed under MIT (https://github.com/programcsharp/griddly/blob/master/LICENSE)
    *
    * WARNING: Don't edit this file -- it'll be overwitten when you upgrade.
    *          Use the static properties on GriddlySettings to make config changes.
    *
*@

@model IGriddlyFilterSettings

@{ 
    var css = ViewBag.GriddlyCss = (GriddlyCss?)ViewBag.GriddlyCss ?? GriddlySettings.DefaultCss;
}

@if (Model.FilterButtonTemplate != null)
{
    @Model.FilterButtonTemplate(null)
}
else
{
    <a class="@css.ButtonDefault griddly-filter-invoke" href="javascript:;"><i class="@(css.Icons.Filter)"></i><span class="@(!css.IsBootstrap4 ? "hidden-xs hidden-sm" : "d-none d-md-inline")"> Filter</span></a>
}
@Html.Partial("Griddly/GriddlyFilterValues", Model.Filters)
<span class="griddly-filter-statusall-show">Showing all</span>
<a class="griddly-search-clear griddly-filter-statusfiltered-show" href="javascript:;">Show All</a>
<span class="griddly-filter-statusfiltered-show griddly-filter-statuscandefault-show">|</span>
<a class="griddly-search-reset griddly-filter-statuscandefault-show" href="javascript:;">Show Default</a>

<div class="modal griddly-filter-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (css.IsBootstrap4) { <h4 class="modal-title">Filter</h4>}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @if (!css.IsBootstrap4) { <h4 class="modal-title">Filter</h4>}
            </div>
            <form class="@(css.IsBootstrap4?"":"form-horizontal")">
                <div class="modal-body">
                    @Html.Partial("Griddly/GriddlyFilterForm", Model.Filters)
                </div>
                <div class="modal-footer" style="@(css.IsBootstrap4 ? "justify-content:flex-start" : null@*fix for IE flex bug*@)" >

                    <div class="btn-group @(css.IsBootstrap4 ? "mr-auto" : "pull-left")">
                        <button type="button" class="@css.ButtonDefault dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reset @if (!css.IsBootstrap4){<span class="@css.Icons.CaretDown"></span>}
                        </button>
                        @if (css.IsBootstrap4)
                        {
                            <div class="dropdown-menu">
                                <a class="griddly-search-reset dropdown-item" href="javascript:;">System Default</a>
                                <a class="griddly-search-clear dropdown-item" href="javascript:;">Clear (Show All)</a>
                            </div>
                        }
                        else
                        {
                            <ul class="dropdown-menu">
                                <li><a class="griddly-search-reset" href="javascript:;">System Default</a></li>
                                <li><a class="griddly-search-clear" href="javascript:;">Clear (Show All)</a></li>
                            </ul>
                        }
                    </div>

                    <button type="button" class="@(css.IsBootstrap4 ? "btn btn-link" : css.ButtonDefault) griddly-filter-cancel" data-dismiss="modal">Cancel</button>

                    <button type="submit" class="@css.ButtonDefault">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>