@{
    ViewBag.Title = "Samples";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        @Html.Griddly("FilterBoxGrid", new { test = SortDirection.Ascending })
        <br />
        <a href="javascript:GetFilterValues()">get filter values</a> | <a href="javascript:SetFilterValues()">set filter values</a>
        @Html.Griddly("FilterRangeGrid")
        <br />
        @Html.Griddly("FilterListGrid")
        <br />
        @Html.Griddly("TestGrid")
    </div>
</div>
<script>
    function AlertSelectedIds(rowIds)
    {
        var result = $(this).closest(".griddly").griddly("getSelected", rowIds);

        var str = "{\n";
        for (var k in result)
            str += " " + k + " : [ " + result[k].toString() + " ]\n";
        str += "}";

        alert(str);
    }

    function GetFilterValues()
    {
        var result = $(".filter-range-grid").griddly("getFilterValues");

        var str = "{\n";
        for (var k in result)
            str += " " + k + " : [ " + result[k].toString() + " ]\n";
        str += "}";

        alert(str);
    }

    function SetFilterValues()
    {
        $(".filter-range-grid").griddly("setFilterValues", { companyStart: '53' });
    }
</script>

@section scripts{
    <script>
        //$(".test-grid").on("beforerefresh.griddly", function ()
        //{
        //    alert("It's not minty fresh!");
        //    return false;
        //});
    </script>
}